@layer components {
	.Backdrop {
		position: fixed;
		inset: 0;
		background-color: color-mix(in oklab, var(--color-black) 50%, transparent);
		transition: opacity 200ms cubic-bezier(0.45, 1.005, 0, 1.005);

		/* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
		@supports (-webkit-touch-callout: none) {
			position: absolute;
		}

		&[data-starting-style],
		&[data-ending-style] {
			opacity: 0;
		}
	}

	.Viewport {
		position: fixed;
		inset: 0;
	}

	.Popup {
		position: fixed;
		inset: 0;
		margin: auto;
		width: 100%;
		max-width: calc(100% - 2rem);
		background-color: var(--background);
		border-radius: var(--radius);
		box-shadow: var(--shadow-2xl);
		transition: all 200ms;
		@media (prefers-reduced-motion: reduce) {
			transition-property: none;
		}

		transform-origin: center;
		transform: scale(calc(1 - 0.1 * var(--nested-dialogs)));
		translate: 0 calc(0px + 3.5rem * var(--nested-dialogs));
		filter: brightness(calc(100% - 20% * var(--nested-dialogs)));

		&[data-nested-dialog-open] {
			&::after {
				content: "";
				inset: 0;
				position: absolute;
				border-radius: inherit;
				background-color: color-mix(
					in oklab,
					var(--color-black) 5%,
					transparent
				);
			}
		}

		&[data-starting-style],
		&[data-ending-style] {
			opacity: 0;
			transform: scale(0.95);
		}
	}

	.Title {
		font-size: var(--text-lg);
		line-height: 1;
		font-weight: var(--font-weight-semibold);
	}

	.Description {
		font-size: var(--text-sm);
		color: var(--color-muted-foreground);
	}
}
